@charset "utf-8";

body {
	width: 400px;
}

.wrapper {
	width:400px;
	margin:0 auto;
}

.red--box {
width:100%;
height:100px;
background: #ff0000;
}


.content {
  position: relative;
  top: 20px;
  left: 220px;
}

.white--box {
  background: #ffffff;
  width: 140px;
  height: 40px;
  float: left;
  padding: 10px;
}


.item--box {
  display: flex;
  float: left;
}

.item {
  width: 40px;
  height: 40px;
  background: #a9004b;
  margin-right: 10px;
}

.item:last-child {
  margin-right: 0px;
}

.green--box {
  float:left;
width: 150px;
height: 250px;
background: #00ff51;
}

.brown--box {
  float:left;
width: 250px;
height: 250px;
background: #8c2727;
}

.orange--box {
  float: left;
  position: relative;
  top: 40px;
  left: 40px;
}

.orange {
  width: 140px;
  height: 40px;
  background: #ff863f;
  margin-bottom: 10px;
  border: 5px #ffffff;
  border-style: solid;
}

.yellow--box {
width: 100%;
height: 100px;
background: #ffd000;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
	height: 0;
	visibility: hidden;
}